<mat-tab-group>
  <mat-tab label="Menu">
    <div class="col-sm-12">
      <app-restaurantmenu [restaurantId]="restaurantId"></app-restaurantmenu>
    </div>
  </mat-tab>
  <mat-tab label="Reserve">
    <div class="col-sm-12">
      <app-reservation [restaurantId]="restaurantId"></app-reservation>
    </div>
  </mat-tab>
  <mat-tab label="Review">
    <div class="col-sm-12">
      Review
      <!-- <app-reservation [restaurantId]="restaurantId"></app-reservation> -->
    </div>
  </mat-tab>
</mat-tab-group>
<!-- <p>{{ restaurantId }}</p> -->
